 h1 {
   color: red;
 }
.social-btn {
    color: white;
    background-color: purple;
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    width: 50px;
    height: 15px;
    border-radius: 4px;
    padding: 5 5 5 5;
    margin-left: 50px;
}
